{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": "airbnb-base",
    rules: {
    'no-shadow': 0,
    'no-param-reassign': 0,
    'eol-last': 0,
  },
  "globals": {
        "localStorage": true,
        "Option": true,
        "window": true,
        "document": true
    },
  "rules": {
      "no-self-import": "off",
      "import/no-cycle": "off",
      "import/prefer-default-export": "off",
      "arrow-parens": "off"
  }    
}

